body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: "DM Sans", 'Montserrat', sans-serif; */
}

.nav-bar{
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding:1% 0 0 0 ;
}

.brand-name{
    font-family: "DM Sans", 'Montserrat', sans-serif;
    margin: 0 0 0% 2%;font-size: 100%;
    padding: 0 0 0 3%;
}

.navbar-lists{
    display: flex;
}

.navbar-items{
    list-style: none;
    
}

.links{
    color: white;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 1rem;
    font-size: 100%;
}


.links:hover{
    color: wheat;
    text-decoration: none;
}



.toggle-button{
    justify-content: space-between;
    display: flex;
    width: 30px;
    height: 20px;
    flex-direction: column;
    display: none;
  
}

.toggle-button .bar{
    background-color: white;
    width: 100%;
    height: 3px;border-radius: 2px;
    margin: .1rem 0 0 0;
    color: white;
}

#bara{
    width: 20px;
}
#barb{
    width: 10px;
}





@media(max-width:900px){


    .toggle-button,.bar{
        display: flex;
        margin-left: 91%;
        bottom: 16px;
        position: relative;
    }

  
    
    .nav-bar{
        display: flex;
        flex-direction: column;
    }

    .nav-bar ul{
        flex-direction: column;width: 100%;
    }

    .navbar-links{
        display: none;
    }

    .navbar-links li{
        display: block;
        text-align: center;
        text-align: center;
        padding: 2% 0;
    }

    .navbar-links.active{
        display: flex;
    }

}




.build{
    text-align: center;
    background-color: green;
  
}


.firstimage{
    max-width: 100%;
    padding: 2% 5% 0;
}
.imageaa{
    text-align: center;
}

.worda{
    font-size: 340%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 1% 0 ;
    font-weight: bold;
}

.wordb{
    font-size: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0 2% 1.5% 2%;
    
}




/*build,direct...... div

.button-playstore{
    align-items: flex-start;display: flex;flex-direction: column;
}

.partb{
   
}

.button-diva{
    display: inline-block;
}
*/


.sectionb{
    background-color:rgb(236, 229, 229);
    padding: 4% 7%;
}
.what{
    font-size: 260%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 2% 0;
    font-weight: bold;
    color: green;
}

.sub-what{
    font-size: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}


.fans{
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    background-color: yellow;
    border-radius: 25px;
    display: inline-block;
    padding:1% 3%;
}

.connect{
    font-family: 'Montserrat', sans-serif;
    font-size: 260%;
    padding-top: 2%;
}

.from{
    font-size: 100%;
    padding: 2% 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

.sectionc{
    padding: 6% 0 4% 20% ;
}








@media(min-width:901px){

#forfans{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.rowling{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imagedee{
    margin: 0 0 0 26%;
    padding: 15% 0% 0 0;
}


.imagedacamo{
    display: none;
}



.influencer{
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    background-color: yellow;
    border-radius: 25px;
    display: inline-block;
    padding:1% 3%;
    
}

.earn{
    font-family: 'Montserrat', sans-serif;
    font-size: 260%;
  
    color: black;
}

.earncopy{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: black;
}



.sectione{
   padding: 15% 3%;
}





    .secondimage{
        margin: auto 0 auto 40%;
        width: 45%;
        min-height: 100%;
        
    }

    .nav-bar{
        background-color: green;
        display: flex;
        justify-content: space-between;
        padding:1% 0 0 0 ;
        position: fixed;
        width: 100%;
    }
    .imageab{
        margin: auto ;
    }

    
    .imageaba{
      display: none;
    }

    .imageaab{
        display: none;
    }

    .imageaa{
        text-align: center;
    }

    .firstimageb,.firstimage{
        padding: 0 4%;
    }



    .imagee{
        display: inline-block;
        width: 50%;
        background-color: rgb(17, 17, 17);
       
    }
    
    
    .sectionf{
        display: inline-block;
        width: 50%;
        padding: 7%;
    }


    .imaged{
        position: relative;
        z-index: -1;
    }


    .change{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    .whatsapp{
        max-width: 100%;
        min-height: 100%;
        height: auto;

    }
    
    .victor{
       margin: 0 0 0 15%;
    }


    .scofield{
        display: inline-block;
        width: 50%;
        overflow: hidden;
    }


    .lincoln{
        display: inline-block;
        width: 50%;
        margin: 10% 0 0 0;
        overflow: hidden;
    }



    

 
}







@media(max-width:900px){
    .imageab{
       display: none;
    }

    .sectionb{
        display: block;
    }

    
      .imageaba{
        text-align: center;
        display: block;
        padding: auto;
      }

      .imageaa{
          display: none;
      }

      .imageaab{
          text-align: center;
      }

      .firstimageb{
          max-width: 100%;
      }

      .whatsapp{
          display: none;
      }

    


     .sectiond{
        display:block;
        width: 100%;
      
    }

    .imagec{
        display: block;
        display: none;
    }

    .lincoln{
        display: block;
        text-align: center;
        padding: 7% 0 0 0;
    }

    .scofield{
        display: block;
    }




    .sectionf{
        display:block;
        width: 100%;
        padding: 7%;
    }

    .imagee{
        display: block;
        display: none;
    }


    .rowling{
        display: block;
       
    }
    
    .imagedee{
      display: none;
    }


    .imagedacamo{
        text-align: center;
    }
    
    .influencer{
        font-size: 125%;
        font-family: 'Montserrat', sans-serif;
        background-color: yellow;
        border-radius: 25px;
        display: inline-block;
        padding:1% 3%;
        
    }
    
    .earn{
        font-family: 'Montserrat', sans-serif;
        font-size: 260%;
      
        color: black;
    }
    
    .earncopy{
        font-size: 100%;
        font-family: 'Montserrat', sans-serif;
        color: black;
    }
    
    
    
    .sectione{
       padding: 10% 8% 4%;
    }

   

}






    



.fansb{
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    background-color: yellow;
    border-radius: 25px;
    display: inline-block;
    padding:1% 3%;
}

.beassured{
    font-family: 'Montserrat', sans-serif;
    font-size: 260%;
    padding-top: 2%;
    color: white;
}

.with{
    font-size: 100%;
    padding: 2% 0 0 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.sectiond{
    background-color: green;
    padding: 4% 10% 0%;
}


.whatsapp{
    width: 100%;
    height: auto;
 
}




















.influencerb{
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 145, 0);
    border-radius: 25px;
    display: inline-block;
    padding:1% 3%;
    color: white;
    
}

.filter{
    font-family: 'Montserrat', sans-serif;
    font-size: 260%;
    padding-top: 2%;
    color: white;
}

.filtercopy{
    font-size: 100%;
    padding: 2% 0 0 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.sectionbellick{
    background-color: black;
    
}


.imageea{
    margin: 0 0 0 21%;
}


.ease,.multi,.secure{
    font-size: 200%;
    color: black;
    padding: 0 0 0 8%;
}

.easea,.multia,.securea{
    font-size: 100%;
    color: rgb(78, 76, 76);
    padding: 0 0 0 8%;
}

.theear{
    color: green;
    font-size: 250%;
    padding: 0 0 0 4%;
}







@media(min-width:850px){
    .ahead{
        color: white;
        padding: 15% 0% 0 2%;
      
    }

    .hand{
        display: grid;
        justify-self: center;
        padding: 15% 0% 0 10%;

        }
    
    .backg{
        background-color: green;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin: 0 auto;
        border-radius: 50px;
    }
    
    
    .span{
        font-size: 250%;
        font-weight: 600;
        line-height: .8;
    
    }
    
}


@media(max-width:850px){
    .ahead{
        color: white;
        margin: auto;
        text-align: center;
        padding: 15% 0 2% 0;
      
    }

    .buttercup{
        text-align: center;
        padding: 2% 0 8% 0;
    }
    
    .backg{
        background-color: green;
        display: grid;
        grid-template-columns: 1fr ;
        width: 80%;
        margin: 0 auto;
        border-radius: 50px;
    }

    .hand{
        display: none;
      
      
        }
    
    
    .span{
        font-size: 220%;
        font-weight: 600;
        line-height: .8;
    
    }
    
}



.linkb,.linkai,.linkc,.linkd{
    list-style: none;
}


.bold{
    font-weight: bold;
}


.beinthe{
    font-size: 120%;
}

.mybuttona{
    background-color: black;
    color: white;
    padding: .3% ; 
    border-radius: 0 25px 20px 0 ;
    height: 2rem;   
}

.first{
    font-size: 105%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: .5;
}


.db,.fatty,.sucre,.sergeant{
    display: inline-block;
 
}

.db,.fatty,.sucre{
    padding: 0 0 0 10%;
}


.rowland{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 8% 0 4% 0;
}

.social{
    margin: auto;
    justify-self: center;

}

.halima{
padding: 0 0 0 15%;}

.fabs{
   padding: .8rem;
   background-color: rgb(187, 184, 184);
   border-radius: 50%;
}

.earr{
    padding: .5rem;
    font-size: 125%;
    font-weight: 600;
}




@media(min-width:900px){
    .socialcamo{
        display: none;
    }
}






@media(max-width:900px){


    .social{
        display: none;
    }

    .rowland{
        display: block;
    }


    .linkb,.linkai,.linkc,.linkd{
        list-style: none;
    }
    
    
    .bold{
        font-weight: bold;
    }
    
    
    .beinthe{
        font-size: 120%;
    }
    
    .mybuttona{
        background-color: black;
        color: white;
        padding: .3% ; 
        border-radius: 0 5px 5px 0 ;
        height: 2rem;   
        margin: 0 4% 0 0;
    }
    
    .first{
        font-size: 105%;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: .5;
    }
    
    
    
    
    .db,.fatty,.sucre,.sergeant{
        padding: 8% 0 4% 0%;
        display: block;
    }
    
    
    .rowland{
    
        padding: 8% 0 0 0;
    }
    
 
    
    .halima{
    padding: 0 0 0 8%;
    
    }
    
    .fabs{
       padding: .8rem;
       background-color: rgb(187, 184, 184);
       border-radius: 50%;
    }
    
    .earr{
        padding: .5rem;
        font-size: 125%;
        font-weight: 600;
    }
    


}








.finally,.finallyb{
    text-align: left;
    font-size: 110%;
}

.small{
    font-size: 80%;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: .1% 1%;
    margin: 0 2%;
}


.play,.apple{
    font-size: 170%;
}




.btn:hover{
color: wheat;
}


.buttercupa{
    padding: 2% 2% 6%;
}


@media(max-width:850px){
    .buttercupa{
     
    }

    
}





